* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: o;
}
a,
a:visited {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  background: #e8e8e8;
}

.content {
  width: 843px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 103px 0 103px 0;
  margin: 0 308px 0 290px;
}
.list {
}
.list li {
  padding: 0 0 0 37px;
  background: url(../jpg/check_icon.png) left no-repeat;
  line-height: 36px;
}
.list li:nth-child(1) {
  color: #273d46;
  font-size: 20px;
  line-height: 36px;
  text-decoration: line-through;
}
.list li:nth-child(2) {
  color: #273d46;
  font-size: 20px;
  font-weight: bold;
  line-height: 36px;
}
.list li:nth-child(3) {
  color: #273d46;
  font-size: 20px;
  line-height: 36px;
  font-style: italic;
}
.list li:nth-child(4) {
  color: #273d46;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0 0 100px 0;
}
.list li:nth-child(1):hover {
  text-decoration: none;
}
.list li:nth-child(2):hover {
  color: #d55a5a;
  background: url(../jpg/check_icon_2.png) left no-repeat;
}
.list li:nth-child(3):hover {
  font-style: normal;
}
.list li:nth-child(4):hover {
  text-transform: none;
}

.button {
  display: inline-block;
  width: 205px;
  height: 44px;

  padding: 0px 30px;
  border-radius: 24px;
  color: #e6f1f0;

  font-size: 14px;
  line-height: 44px;
  text-transform: uppercase;
  letter-spacing: 2.8px;
  box-shadow: 0 6px 40px rgba(128, 183, 179, 0.54);
  background-color: #80b7b3;
}
.button span {
  padding: 0px 30px 0px 0px;
  background: url(../jpg/Shape_2.svg) right no-repeat;
}
.button:hover {
  background-color: #3a5856;
}
.button:active {
  background: #818181;
}

.input {
  margin: 125px 0 0 0;
  width: 200px;
  height: 50px;
  border: 1px solid #b0b0b0;
}
.input:focus {
  border: 1px solid #7fbed5;
  box-shadow: 0 0 20px rgba(127, 190, 213, 0.93);
}
